.favorite_section {
    padding: 50px 0px;

    background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0,0,0,0.651)), url("../../assets//img/texturas/fundo-2.webp");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.favorite_wrapp {
    width: 330px;
    padding: 30px 0px;

    border-radius: 15px;
}

.top_background {
    height: 50%;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    background: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0,0,0,0.521)), url("../../assets//img/texturas/fundo-1.webp");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container_content {
    z-index: 1;
}

.container_content > h2 {
    font-size: 21px;
    letter-spacing: .5px;
    font-family: "Julius Sans One", sans-serif;
    color: #F1A459;
    -webkit-text-stroke: 1px #F1A459;

    margin-bottom: 30px;
}

.favorite_list {
    gap: 30px;
}

.bottom_background {
    height: 50%;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    background-image: linear-gradient(to bottom, #8B5E00, #6E4800);
}
