.category_section {
    padding: 30px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)), url("../../assets//img/texturas/fundo-2.webp");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat; */
}

.category_list {
    width: 100%;
    height: 30px;

    gap: 1px;

    background: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0,0,0,0.644)), url("../../assets/img/info-slide/fundo-info-slide.webp");

    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 5px;
}

.category_list > li {
    flex: 1;
}

.category_list > li > a {
    height: 100%;

    padding: 0px 6px;
    border-radius: 5px;

    font-size: 14px;

    color: white;

    font-family: "Julius Sans One";
}

.category_list > li > a:hover {
    background-color: #9A6700;
}

.category_body {
    padding: 20px 30px;

    background: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0,0,0,0.644)), url("../../assets/img/info-slide/fundo-info-slide.webp");

    border-radius: 10px;

    background-size: cover;
    background-repeat: no-repeat;
}
