.contact_section {
    padding: 50px 0px;
    gap: 60px;

    background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0,0,0,0.651)), url("../../assets//img/texturas/fundo-2.webp");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
